/* Write the CSS for you answer here */


.images {
    position: absolute;
    width: 700px;
    height: 540px;
    top: 20%;
    left:0%
}

#landscape {
    position: absolute;
    left: 0;
    top: 0%;
    z-index: 0;
}
#pohutukawa {
    position: absolute;
    left: 0;
    top: 20%;
    width: 700px;
    z-index: 3;
}




 .bauble {
     width: 50px;
     height: 50px;
     margin: 0 auto;
 }
.images:hover #container{
    animation: bounce 2s forwards;
    /*animation-fill-mode: forwards;*/
    /*animation-play-state: paused;*/
}


@keyframes bounce {
    30% {top: 430px;}
    60% {top: 390px;}
    75% {top: 430px;}
    90% {top: 400px;}
    100% {top: 430px;}

}






#red{
    position: absolute;
    left: 50px;
    top: 350px;
    z-index: 4;
}

#blue{
    position: absolute;
    left: 150px;
    top: 200px;
    z-index: 4;
}

#darkblue{
    position: absolute;
    left: 300px;
    top: 250px;
    z-index: 4;
}

#green{
    position: absolute;
    left: 400px;
    top: 190px;
    z-index: 4;
}
#pink{
    position: absolute;
    left: 400px;
    top: 330px;
    z-index: 2;
}
#orange{
    position: absolute;
    left: 600px;
    top: 270px;
    z-index: 4;
}

img#pohutukawa  {
    pointer-events: none;
}




